* {
    box-sizing: border-box;
}

body {
    width: 480px;
    margin: 0 auto;
    background-color: lightcyan;
}

header, aside, section, article, footer {
    text-align: center;
    border: solid 1px black;
}

@media (min-width: 768px) {

    body {
        width: 960px;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas:
            "header"
            "sidebar main main"
            "sidebar article article article article"
            "sidebar footer"
    }

    header {
        width: 100%;
    }

    main {
        
    }

}