* {
    box-sizing: border-box;
}

body {
    width: 480px;
    margin: 0 auto;
    background-color: lightcyan;
}

header, aside, section, article, footer {
    text-align: center;
    border: solid 1px black;
}

@media (min-width: 768px) {

    body {
        width: 960px;
    }

    header {
        width: 100%;
    }

}