header {

    background-color: rgb(109, 247, 18);
}

aside {
    background-color: rgb(17, 245, 214);
}

 



@media (max-width: 800px) {

    #header {
        width: 100%;
        background-color: red;
    }
 
    aside {
        height: 800px;
        background-color: green;
    }

   #article {
        
        
    }



   #halfContent {
    width: 50%;
   }

    #footer {
        width: 100%;
        background-color: purple;
    } 

} 

.flex-container {
    /* display: flex; */
    /* align-items: stretch; */
    
  }
  .flex-container > section {
    width: 200px;
    height: 200px;
    margin: 10px;
    text-align: center;
  
    font-size: 30px;
  }