.left-float {
    float: left;
}

section:first-of-type {
    background-color: blue;
}

section:last-of-type {
    background-color: green;
}

#yellow {
    background-color: yellow;
}

#orange {
    background-color: orange;
}

@media (min-width: 768px) {

    section:first-of-type {
        background-color: orange;
    }

    section:last-of-type {
        background-color: yellow;
    }

    .indigo {
        background-color: indigo;
    }
    
    .blue {
        background-color: blue;
    }

}