/* .left-float {
    float: left;
} */

section:first-of-type {
    background-color: blue;
}

section:last-of-type {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.yellow-green {
    background-color: yellowgreen;
}

.orange {
    background-color: orange;
}

.tomato {
    background-color: tomato;
}

@media (min-width: 768px) {

    section:first-of-type {
        background-color: orange;
    }

    section:last-of-type {
        background-color: yellow;
    }

    #indigo {
        background-color: indigo;
    }
    
    #blue {
        background-color: blue;
    }

    #skyblue {
        background-color: skyblue;
    }

    #lavender {
        background-color: lavender;
    }

    .flex-row {
        display: flex;
        flex-direction: row;
    }

    .header {
        grid-area: header;
    }

    .footer {
        grid-area: footer;
    }

    .sidebar {
        grid-area: sidebar;
    }

    .main {
        grid-area: body;
    }

    .article {
        grid-area: article
    }

}